body {
    background-color: rgb(255, 255, 255);
    display: block;
    margin: 0 auto;
  }
  h1 {
    color: rgb(11, 11, 201);
    font-size: 48px;
    margin-left: 10px;
  }
  form {
    margin-left: 10px;
  }
  li {
    list-style: none;
    text-align: left;
    margin-left: -20px;
    font-size: 20px;
  }
  .weather-forecast {
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 750px;
    background-color: azure;
    margin: 20px;
  }
  .temperature {
    font-size: 36px;
    font-weight: bold;
    margin-left: 10px;
  }
  .temperature-today {
    font-size: 40px;
    font-weight: bold;
  }
  .row .col-2 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 1px;
    background-color: aqua;
    border: 10px;
    border-radius: 10px;
    margin-left: 24px;
    margin-bottom: 20px;
  }
  